<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOCH Restaurant</title>
  </head>
  <body>
    <!-- Header to contain our logo and navigation -->
    <header>
      <a href="index.html">
        <h1 id="logo">BOCH Restaurant</h1>
      </a>
      <nav id="menu">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Menu</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Reservation</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Create footer with seperate divs for different categories of information-->
    <footer>
      <div class="contact-us">
        <h3>Contact Us</h3>
        <p>+49 16096286371</p>
        <p>info@bochrestaurant.com</p>
      </div>
      <div>
        <h3>Opening Hours</h3>
        <p>Mo - Fri: 09:00 - 22:00</p>
        <p>Sat: 08:00 - 22:00</p>
        <p>Sun: 08:00 - 18:00</p>
      </div>
      <div>
        <h3>Adress</h3>
        <p>Mayener Strasse 130</p>
        <p>56070 Koblenz, Germany</p>
      </div>
      <div>
        <h3>Follow Us</h3>
        <p><a href="facebook.com">Facebook</a></p>
        <p><a href="instagram.com">Instagram</a></p>
        <p><a href="twitter.com">Twitter</a></p>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/38ea61cdd6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
